*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  width: 1100px;
  margin: 0 auto;
  font-family: Raleway, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
blockquote {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img {
  width: 100%;
}

button {
  font: inherit;
}

address {
  max-width: 240px;
  min-height: 98px;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 24.3px;
  text-align: left;
}

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  min-height: 293px;
  padding: 0 50px 0 50px;
  font-weight: 400;
  font-size: 18px;
}

.cover {
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 757px;
  margin-bottom: 180px;
  padding: 165px 50px 50px 50px;
  color: rgba(255, 255, 255, 1);
  letter-spacing: 0.3em;
  text-transform: uppercase;
  background-image: url('../images/cover.jpg');
  background-position: center;
  background-size: cover;
}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.lots {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 723px;
  margin-right: 24px;
  margin-bottom: 120px;
  margin-left: 24px;
}

.about {
  display: grid;
  grid-template-columns: 334px 1fr;
  min-height: 595px;
  margin-right: 24px;
  margin-bottom: 180px;
  margin-left: 24px;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  min-height: 180px;
  text-align: center;
}