.header__logo {
  display: block;
  width: 130px;
  height: 105px;
}

.header__menu {
  height: 22px;
}

.header__links-list {
  display: flex;
  gap: 30px;
  list-style: inside;
}

.header__links-list-item {
  list-style: none;
}

.header__links-list-item:not(:first-child) {
  margin-left: 0;
  list-style: circle;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__address {
  justify-self: end;
  line-height: 24.3px;
}

.header__link {
  text-decoration: underline;
}

.header__link_active {
  text-decoration: none;
}

.cover__title {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  line-height: 1.15;
  gap: 20px;
  font-weight: 700;
  font-size: 100px;
  letter-spacing: 0.3em;
}

.cover__description {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 22px;
}

.cover__description-text {
  font-weight: 400;
  line-height: 28px;
}

.aligned-text {
  display: block;
  text-align: left;
}

.aligned-text_center {
  display: block;
  text-align: center;
}

.aligned-text_right {
  display: block;
  text-align: right;
}

.bet-button {
  width: 256px;
  height: 51px;
  font-weight: 500;
  text-transform: uppercase;
  border: 1px solid rgba(255, 255, 255, 1);
  color: rgba(255, 255, 255, 1);
  background-color: rgba(0, 0, 0, 0);
  line-height: 26px;
}

.lots__heading {
  margin-left: 40px;
  margin-bottom: 27px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 40px;
  line-height: 47px;
  text-align: left;
}

.lots__look-more-link {
  margin-top: 30px;
  margin-left: 40px;
  text-decoration: underline;
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
}

.lots__card-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 25px;
}

.lots__card-list-item {
  width: 334px;
  min-height: 596px;
}

.card-link {
  height: 100%;
  text-decoration: none;
}

.card {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  color: rgba(255, 255, 255, 1);
  z-index: 1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card__title {
  font-size: 22px;
  font-weight: 700;
  line-height: 1.2em;
  text-decoration-line: underline;
  text-transform: uppercase;
  margin: 48px 40px 0px 40px;
  z-index: 2;
}

.card__text {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2em;
  margin: 0px 40px 48px 40px;
  z-index: 2;
}

.card_type_film {
  background-image: url('../images/card-lot-01.jpg');
}

.card_type_book {
  background-image: url('../images/card-lot-02.jpg');
}

.card_type_picture {
  background-image: url('../images/card-lot-03.jpg');
}

.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 1);
  width: 240px;
  height: 240px;
  border-radius: 50%;
  margin-top: 35px;
}

.about__column {
  display: flex;
  justify-self: center;
  flex-direction: column;
}

.about__logo-image {
  background-image: url('../images/logo-white.svg');
  width: 148px;
  height: 114px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.about__title {
  font-size: 40px;
  font-weight: 700;
  line-height: 47px;
  text-transform: uppercase;
  margin-bottom: 100px;
}

.about__text {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
}

.about__text:not(:last-child) {
  margin-bottom: 24px;
}

.about__column:last-child {
  display: flex;
  justify-content: flex-end;
  margin-left: 25px;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}

.footer__social-list {
  display: flex;
  flex-direction: row;
  gap: 48px;
}

.footer__menu-list {
  list-style: none;
}

.footer__social-list {
  list-style: none;
}

.footer__menu {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
}

.footer__menu-link {
  text-decoration: underline;
}

.footer__menu-link_active {
  text-decoration: none;
}